<h2 class="text-center mt-4 mb-4">Welcome to the Book Management System!</h2>

<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 mb-5">
            <a asp-controller="Home" asp-action="SearchBook" class="text-decoration-none">
                <div class="k-card-header" style="background-color: #87CEEB; border-radius:200px;">
                    <div class="k-card-title">
                        <h3 class="k-card-title text-center text-uppercase text-white">Search Book</h3>
                    </div>
                </div>
                <div class="k-card-body" style="background-color: #F0F8FF;">
                    <div class="k-card-description text-center text-primary">Search for a book in the system.</div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 mb-5">
            <a asp-controller="Home" asp-action="AddBook" class="text-decoration-none">
                <div class="k-card-header" style="background-color: #FFA500; border-radius:200px;">
                    <div class="k-card-title">
                        <h3 class="k-card-title text-center text-uppercase text-white">Add Book</h3>
                    </div>
                </div>
                <div class="k-card-body" style="background-color: #FFFFE0;">
                    <div class="k-card-description text-center text-warning">Add a new book to the system.</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 mb-5">
            <a asp-controller="Home" asp-action="SearchToUpdateBook" class="text-decoration-none">
                <div class="k-card-header" style="background-color: #6A5ACD; border-radius:200px;">
                    <div class="k-card-title">
                        <h3 class="k-card-title text-center text-uppercase text-white">Update Book</h3>
                    </div>
                </div>
                <div class="k-card-body" style="background-color: #F8F8FF;">
                    <div class="k-card-description text-center text-info">Update details of an existing book.</div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 mb-5">
            <a asp-controller="Home" asp-action="SearchToDeleteBook" class="text-decoration-none">
                <div class="k-card-header" style="background-color: #FF6347; border-radius:200px;">
                    <div class="k-card-title">
                        <h3 class="k-card-title text-center text-uppercase text-white">Delete Book</h3>
                    </div>
                </div>
                <div class="k-card-body" style="background-color: #FFDAB9;">
                    <div class="k-card-description text-center text-danger">Delete an existing book from the system.</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 mb-5">
            <a asp-controller="Home" asp-action="GetAllBooks" class="text-decoration-none">
                <div class="k-card-header" style="background-color: #FFD700; border-radius:200px;">
                    <div class="k-card-title">
                        <h3 class="k-card-title text-center text-uppercase text-white">All Books</h3>
                    </div>
                </div>
                <div class="k-card-body" style="background-color: #FFFFE0;">
                    <div class="k-card-description text-center text-secondary">Fetch all the books from library that are present.</div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 mb-5">
            <a asp-controller="Home" asp-action="GetVisualizations" class="text-decoration-none">
                <div class="k-card-header" style="background-color: black; border-radius:200px;">
                    <div class="k-card-title">
                        <h3 class="k-card-title text-center text-uppercase text-white">Get Visualization</h3>
                    </div>
                </div>
                <div class="k-card-body" style="background-color: gray;">
                    <div class="k-card-description text-center text-white-50">See the visualization of books distribution as per a category.</div>
                </div>
            </a>
        </div>
    </div>
    @* <div class="col-12 mb-5 d-flex justify-content-center">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Home" asp-action="GetAllBooks" class="text-decoration-none">
            <div class="k-card-header" style="background-color: #FFD700; border-radius:200px;">
                    <div class="k-card-title">
                        <h3 class="k-card-title text-center text-uppercase text-white">All Books</h3>
                    </div>
                </div>
                <div class="k-card-body" style="background-color: #FFFFE0;">
                    <div class="k-card-description text-center text-secondary">Fetch all the books from library that are present.</div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 mb-5 d-flex justify-content-center">
        <div class="col-sm-6 col-md-4">
            <a asp-controller="Home" asp-action="GetVisualizations" class="text-decoration-none">
            <div class="k-card-header" style="background-color: black; border-radius:200px;">
                    <div class="k-card-title">
                        <h3 class="k-card-title text-center text-uppercase text-white">Get Visualization</h3>
                    </div>
                </div>
                <div class="k-card-body" style="background-color: gray;">
                    <div class="k-card-description text-center text-white-50">See the visualization of books distribution as per a category.</div>
                </div>
            </a>
        </div>
    </div> *@

</div>
